*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo{
    width: 139px;

}
 .button .bnt{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px ;
    font-size: 16px;
    font-weight:600;
     color: #FFFFFf;
    cursor: pointer;
}
/*main style*/
header{
    background-color: #ffffff30;
    padding-top: 16px;

}
nav{
    width: 83%;
    max-width: 1340px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .list a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
#hero{
  
  background: url(../assets/hero-bg.png);
  
  height: 674px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115.5px 120px 179.5px;

}
#hero .hero-container {
    width: 83%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    
     padding: 131px 156px;
}
 .hero-container .hero-button .button{
    border-radius: 20px;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    color: #30B868;
}

.hero-container .head{
    color: #30B868;
    padding-bottom: 16px;
}
.hero-container .header{
    color: #FFFFFf;
   
}
.hero-container .content{
    font-size: 18px;
    color: #FFFFFf;
    padding-bottom: 32px;
}
button i {
  margin-right: 6px;
}


 .hero-button .button-1{
    color: #FFFFFf;
    background-color: #30B868;
    font-size: 16px;
    padding: 16.5px  16px 16.5px 16px;
    border-radius: 5px;
 }
 .button-1 i{
    margin-left: 12.5px;
 }
 

 .hero-button .button-2{
    font-size: 16px;
    padding: 16.5px  16px 16.5px 16px;
    border-radius: 5px;
    background: none;
    color: #FFFFFf;
    border-color: #FFFFFf;
 }
 .button-2 i{
    margin-right: 10px;
 }
 .card-head{
    width: 83%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: center;
 }
 .card-head .c-head{
    font-size: 48px;
    height: 116px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    margin-bottom: 16px;  
    
 }
 .card-head .c-para{
  font-size: 16px;
  text-align: center;
  color: #627382;
  margin-bottom: 44px;
 }
.card-section{
    width: 83%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}
.card{
    width: 322px;
    height: 300px;
    box-shadow: 0px 0px 8px 0px #00000037;
    padding-top: 69.5px;

    
}
.card-img {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 16px;
  
}
.card .title{
    font-size: 24px;
    color: #001931;
    font-weight: 600;
    margin: 0px auto;
    width: 274px;
    text-align: center;
   
    

}
.card .card-subtitle{
    font-size: 16px;
    color: #627382;
     width: 274px;
    height: 40px;
    margin: 16px 24px 69.5px 24px;
    text-align: center;

}
.Brain {
    
    width: 83%;
    max-width: 1360px;
    margin: 120px auto;
    justify-content: center;
}
.brain-container{
    display: flex;
}
.brain-img{
    height: 600px;
    width: 600px;
}
.brain-description{
  padding: 102px 0px 102px 60px;
}
.brain-description .heading-section{
    font-size: 16px;
    width: 700px;
    line-height: 20px;
    color:#30B868;
    margin-bottom: 16px;
}
.brain-description .subheading{
    width: 700px;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #001931;
    margin-bottom: 16px;
}
.brain-description .brain-info{
    font-size: 16px;
    color: #627382;
    width: 700px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;
}
.list-container{
    list-style: none;
}
.list-item{
width: 700px;

}
.list-info{
    display: flex;
  align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
.list-info .list-img{
    height: 20px;
    width: 20px;
   
}
.list-info .list-content{
    font-size: 16px;
    line-height: 20px;
}
footer{
    
    padding: 120px 120px 30px 120px;
height: 384px;
    background-color: #000000;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.imges{
    width: 139px;
    height: 60px;
}
 .social .footer-heading{
    font-size: 20px;
    color: #FFFFFf;
    line-height: 28px;
    margin-bottom: 16px;
 }
 .icon {
  display: flex;
  gap: 16px;
  justify-content:flex-start;
}
.icon a {
 
  font-size: 16px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.12px 4.25px 4.13px 4.25px;
}
.copy-write{
    color: #fafafa;
    width: 83%;
    max-width: 1360px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
    margin: 0px auto;
   
}
hr{
    margin-bottom: 30px;
    
}
#banner{
    width: 83%;
    max-width: 1360px;
    height: 506px;
    margin: 2px 120px 120px 120px;
    justify-content: center;
    background-color: #F7F6F2;
}
.banner-container .banner-heading{
    width: 1280px;
    font-size: 40px;
    font-weight: bold;
    padding: 80px 40px 16px 80px;
    display: flex;
    justify-content: center;

}
.banner-container .banner-info{
    max-width: 1280px;
    line-height: 24px; 
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 24px;
    

}
.banner-button{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    
}

   
}
 .button-section button i {
  margin-right: 16px;
}


 .banner-button .button-section{
    color: #FFFFFf;
    background-color: #30B868;
    font-size: 16px;
    padding: 16.5px  16px 16.5px 16px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px ;
    
 }
 .button-section  i{
    margin-left: 10px;
 }
 .banner-container .last-info{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    max-resolution: 0px auto;
 }
